<h6>داشبورد</h6>
<h3 style="color: orange;">خوش اومدی {{name}}</h3>
<p>لیست مطالب شما</p>
{{#if stories}}
<table class="striped">
    <thead>
        <tr>
            <th>عنوان</th>
            <th>تاریخ</th>
            <th>وضعیت</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each stories}}
        <tr>
            <td><a href="/stories/{{_id}}">{{title}}</a></td>
            <td>{{formatDate createdAt}}</td>
            <td><span class="dash-status">{{status}}</span></td>
            <td>
                <a href="/stories/edit/{{_id}}" class="btn btn-float">
                    <i class="fas fa-edit"></i>
                </a>

                <form action="/stories/{{_id}}" method="POST" id="delete-form">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn red">
                        <i class="fas fa-trash"></i>
                    </button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<p>شما مطلبی ندارید !!</p>
{{/if}}